* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}




.bar-btn {
	display: none;
}

#check {
	display: none;
}

.dis{
	display: block;
}
.contenedor-carousel{

	
	display:flex;
}


h1 {
	margin-top: 10px;

}

body {
	width: 100vw;
	height: 100vh;
	text-align: center;
	overflow: scroll;
	background-color:white

}

/*  MENU */


.menu {
	background-color: #004cf1a6;
	height: 65px;
	display: flex;
	flex-direction: row;
	z-index: 3;
	align-items: center;
	border-bottom: 1px rgb(3, 3, 1);
	box-shadow: 5px 0 10px rgba(0, 0, 0, .6);

	width: 100%;
	justify-content: space-around;
	
}

.menu__logo {
	margin: 0;
	margin-left: 20px;
	display: flex;
	text-transform: uppercase;
	overflow: visible;
}

.menu__logo__link {
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);

	font-weight: bold;
	font-size: 35px;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
	cursor: pointer;
}

a:hover {

	color: white;

}

.container-menu {
	width: 100%;
}

.menu__item {

	width: 100%;
	justify-content: center;
	display: flex;
	margin: 10px;
	list-style: none;


}

.menu__item--normal {

	border-radius: 1px;
	
}

.menu__item--normal a {

	text-shadow: 5px 0 5px rgb(18, 19, 26);

	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;

}

.menu__item--normal a:hover {

	background-color: rgba(29, 221, 235, 0.432);
	border-radius: 4px;

}


/* contenedor de links boton */

.container {

	position: fixed;

	margin-top: 40px;

	transition: all 0.7s ease-in-out;
	background-color: #000000d0;
	width: 300px;
	border-radius: 5px;
	transform: translatex(-350%);
	box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.3);

}

.container a {

	transition: all 0.5s ease-in-out;
	text-align: center;
	display: block;
	margin: 10px 0;
	color: #ffffff;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.container a:hover {
	background-color: rgba(0, 0, 0, 0.2);


}

#toggle:checked~.container {

	transform: translatex(-105%);


}

#toggle:checked~.button {
	transition: all 0.5s ease-in-out;

	transform: rotate(135deg);



}

.icono {

	width: 30px;

}
/* fin menu */



/* INDEX */

.banners-responsive {
	display: none;
}

.banners__bannertop1 {

	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
	margin-top: 40px;
	height: 200px;
	width: 40%;
	transition: all 0.25s;
}

.banners__bannertop2 {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
	margin-top: 40px;
	height: 200px;
	width: 40%;
	transition: all 0.25s;
}

.banners__bannertop1:hover {
	transform: translatex(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.banners__bannertop2:hover {
	transform: translatex(+15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* SLIDER */
.slider{
	width: 100%;
	margin: auto;
	
}

.slider-2{
	width: 100%;
	margin: auto;
	
}
.slider-2 ul {
	display: flex;
	flex-direction: row;

	padding: 0;
	width: 400%;
	
	animation: cambio-2 20s infinite alternate;
	animation-timing-function: ease-out;
}
.slider ul{
	display: flex;
	flex-direction: row;

	padding: 0;
	width: 400%;
	
	animation: cambio 30s infinite alternate;
	animation-timing-function: ease-out;
}
.slider ul:hover{
	animation-play-state:paused
}

.slider ul li{
	flex-wrap: wrap;
	display: flex;
	margin: 5px;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	list-style: none;
	
}
.slider-2 ul li:hover{
	cursor: pointer;
}
.slider-2 ul:hover{
	animation-play-state:paused
}

.slider-2 ul li{
	flex-wrap: wrap;
	display: flex;
	margin: 5px;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	list-style: none;
	
}
.slider-2 ul li:hover{
	cursor: pointer;
}


@keyframes cambio{
	0%{ margin-left: 0;}
	20%{ margin-left: 0;}

	25%{ margin-left: -100%;}
	45%{ margin-left: -100%;}

	50%{ margin-left: -200%;}
	70%{ margin-left: -200%;}

	75%{ margin-left: -300%;}
	100%{ margin-left: -300%;}
}

@keyframes cambio-2{
	0%{ margin-left: 0;}
	20%{ margin-left: 0;}

	25%{ margin-left: -100%;}
	45%{ margin-left: -100%;}

	50%{ margin-left: -200%;}
	70%{ margin-left: -200%;}

	75%{ margin-left: -300%;}
	100%{ margin-left: -300%;}
}


.card-img-top{
	width: 286px;
	height: 220px;
}

.img-contenedor .card-img-top {
	-webkit-transition:all .9s ease; /* Safari y Chrome */
	-moz-transition:all .9s ease; /* Firefox */
	-o-transition:all .9s ease; /* IE 9 */
	-ms-transition:all .9s ease; /* Opera */
	
	}
	.img-contenedor:hover .card-img-top {
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	transform:scale(1.12);
	}


.card-body p{

	
border-top: solid 1px black;
padding-top: 20px;
font-family:'Franklin Gothic Medium';
	font-size: large;
}
.card-body a:hover{
	color: black;
}


/*FIN INDEX  */


/* FOOTER */

.footer{

	width: 100%;
margin-bottom: 50px;
margin-top: 50px;
box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
	background-color: #004cf1a6;


}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	
}
.footer-container {
	max-width: 1170px;
	margin: auto;
	
}
.footer-col{
	flex-wrap: wrap;
	color: white;
	width: 33%;
	text-align: center;
}
.footer-col li{
	
	margin-right: 22px;
	
}
.footer-col li a{
	
	color: black;
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
}
.footer-col li a:hover{
	color: white;
	padding-left: 10px;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
}
.footer-col h3{
	text-shadow: 5px 0 5px rgb(18, 19, 26);
border-bottom: 2px solid;
font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	
}
.footer-col .social-links a{

	color: black;
	background-color: rgba(0, 0, 0, 0.363);
	display: inline-block;
	height: 50px;
	width: 50px;
	
	line-height: 50px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: white;
	padding-left: 4px;
}

.copy{
	color: white;
font-family: 'Press Start 2P', cursive; 
text-transform: uppercase;
text-shadow: 5px 0 5px rgb(18, 23, 26);
}
.email-contacto{
	color: white;
}

/* FIN FOOTER */

/* SECCION SERVICIOS */
.containerCard {

	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	
}

.containerCard .card1 {
	background-color: #004cf1a6;
	width: 330px;
	
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin-top: 40px;
	margin-left: 2px;
	text-align: center;
	transition: all 0.25s;

}

.containerCard .card1:hover {
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCard .card1 img {
	width: 330px;
	height: 220px;
}

.containerCard .card1 h4 {
	text-shadow: 5px 0 5px rgb(18, 19, 26);
	color: white;
	font-weight: 600;
}

.containerCard .card1 p {
	color: white;
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 400;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
}

.containerCard .card1 a {
	color: white;
}

.containerCard .card1 a:hover {
	color: rgb(10, 6, 6);
}

/* FIN SECCION SERVICIOS */


/* SECCION CONTACTO */
.bannerIntercambio {
	width: 100%;
	height: 200px;
}

h2 {

	font-family: sans-serif;

}

.formularioContacto {

	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;


}

.formularioContacto__contenedor {


	width: 60%;
	background-color: #004cf1a6;
	border-bottom: 1px rgb(3, 3, 1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
	padding: 20px;
}

.detallar {
	border-bottom: 1px solid;
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
}

.areaTexto {
	border: transparent;
	padding: 10px;
	width: 100%;
	font-size: 20px;
}

.formularioContacto__input {

	background-color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
	margin-top: 10px;
	width: 100%;
}

.botonContacto {
	color: white;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
	background-color: #004cf1a6;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);

	margin-top: 10px;
	width: 200px;

}

.botonContacto:hover {
	background-color: #06173ba6;
}

#formularioIntercambio {
	margin-top: 50px;
}


/* INTERCAMBIO SECCION */
.intercambio1 {
	letter-spacing: 1px;
	width: 100%;
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;

}

.intercambio2 {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.intercambio__card {
	padding: 14px;
	
	text-align: center;
	width: 40vw;
	height:250px;
	border-bottom: 1px rgb(3, 3, 1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
	background-color: #004cf1a6;
	overflow:auto;
}

.intercambio__card h2 {
	border-bottom: 1px solid;
	color: rgb(255, 255, 255);
	font-size: 35px;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
}

.intercambio__card p {
	margin-top: 50px;
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-family: sans-serif;
	text-shadow: 5px 0 5px rgb(0, 0, 0);
}

.numero {
	font-size: 120px;
}

.accesoRegistro {

	margin-left: 5px;
	color: rgb(255, 255, 255);
}

/* FIN SECCION INTERCAMBIO */

/* SECCION REGISTRO */


.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #ffffffa6;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
}


.formulario__estilo {
	width: 100%;
	padding: 15px;


}

.formulario {

	margin-top: 50px;
	width: 40%;
	background-color: white;

}

.formulario-1 {

	width: 100vw;
	display: flex;
	justify-content: center;


}

.formulario__title {
	text-align: center;
	font-size: 36px;
}

.formulario__input {
	margin-bottom: 15px;
	border: 1px solid #aaa;


}

input {
	font-size: 20px;
	width: 80%;
	padding: 10px;
	border: none;

}



.iconoR {
	min-width: 50px;
	text-align: center;

}

.botonRegistro {
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background-color: #004cf1a6;

	padding: 15px 20px;
	border-radius: 15px;
	text-shadow: 5px 0 5px rgb(18, 19, 26);
	cursor: pointer;
}

.botonRegistro:hover {

	background-color: #042f8da6;

}

p {
	text-align: center;
}
.formulario a:hover{
	color: black;
	
	
}
/* FIN SECCION REGISTRO */













/* RESPONSIVE */
@media screen and (max-width:768px) {
	body {
		margin: 0;
		
	}

	
	.redesSociales {
		display: none;
	}
	.containerCard{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.containerCard .card1 {
		position: relative;
		margin-left: 0px;
		z-index: 0;



	}

	/* intercambio  */
	.intercambio1 {
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	.intercambio2 {
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	.intercambio__card {
		border-radius: 15px;
		margin-top: 20px;
		width: 80%;
		height: 100%;
	}

	/* fin intercambio */
	.menu {
		display: flex;

		z-index: 3;

	}

	.boton-responsive {
		margin-top: 10px;
	}



	.banners {
		display: none;
	}

	.banners-responsive {
		display: block;
	}

	.banners__bannertop1 {

		box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
		margin-top: 10px;
		height: 150px;
		width: 100%;
		transition: all 0.25s;
		display: block;
	}

	.banners__bannertop2 {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
		margin-top: 10px;
		height: 150px;
		width: 100%;
		transition: all 0.25s;
		display: block;
	}

	.banners__bannertop1:hover {
		transform: translatey(0px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}

	.banners__bannertop2:hover {
		transform: translatex(0px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}



	.item-registro {
		display: none;
	}

	.container-menu {
		z-index: 3;
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 0%;
		margin-top: 270px;


	}

	.bar-btn {

		display: flex;

	}

	.menu__item {
		display: none;
		flex-direction: column;
		margin: 0;
		padding: 0;

		padding: 10px;

	}



	.menu__item--normal a {

		margin: 0;
		text-shadow: 5px 0 5px rgb(18, 23, 26);
		width: 100%;
		text-decoration: none;
		font-size: 11px;
		font-weight: 900;
		text-transform: uppercase;
		color: #ffffff;


	}

	#check:checked~.container-menu {
		height: 200px;

	}

	#check:checked~.bar-btn {

		background-color: rgba(8, 4, 71, 0.315);
	}

	#check:checked~.container-menu .menu__item {
		display: flex;
	}

	/* MENU HAMBURGUESA */


	.bar-btn {
		font-size: 25px;
		color: white;
		cursor: pointer;
	}

	/* formulario intercambio responsive */
	.formularioContacto {
		margin: 0;
		width: 100%;
		background-color: rgb(255, 255, 255);
		margin-bottom: 60px;

	}

	/* formulario registro responsive */

	.formulario {

		margin: 0;
		margin-top: 100px;
		width: 100vw;
		border-radius: 2%;
	}







	.menu__logo {
		padding: 0;
		margin: 0;
	}

	.menu__logo__link {
		padding: 10px;
		font-size: 25px;

	}

	ul {
		list-style-type: none;
	}
}

@media screen and (max-width:576px) {
	body {
		margin: 0;
		
	}


	.footer-col ul{
	
	margin: 0;
	padding:0;
	}
	.footer-col li a{
		font-size: 16px;
		
	}





	/* intercambio  */
	.intercambio1 {
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	.intercambio2 {
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	.intercambio__card {
		border-radius: 15px;
		margin-top: 20px;
		width: 80%;
		height: 100%;
	}

	/* fin intercambio */


	.boton-responsive {
		margin-top: 10px;
	}

	.banners {
		display: none;
	}

	.banners-responsive {
		display: block;
	}

	.banners__bannertop1 {

		box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
		margin-top: 10px;
		height: 100px;
		width: 100%;
		transition: all 0.25s;
		display: block;
	}

	.banners__bannertop2 {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
		margin-top: 10px;
		height: 100px;
		width: 100%;
		transition: all 0.25s;
		display: block;
	}

	.banners__bannertop1:hover {
		transform: translatey(0px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}

	.banners__bannertop2:hover {
		transform: translatex(0px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}

	.item-registro {
		display: none;
	}

	.menu__item--normal {
		margin: 0;




	}

	.container-menu {
		z-index: 3;
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 0%;
		margin-top: 270px;


	}

	.bar-btn {

		display: flex;

	}

	.menu__item {
		display: none;
		flex-direction: column;
		margin: 0;
		padding: 0;

		padding: 10px;

	}



	.menu__item--normal a {

		margin: 0;
		text-shadow: 5px 0 5px rgb(18, 23, 26);
		width: 100%;
		text-decoration: none;
		font-size: 11px;
		font-weight: 900;
		text-transform: uppercase;
		color: #ffffff;


	}

	#check:checked~.container-menu {
		height: 200px;

	}

	#check:checked~.bar-btn {

		background-color: rgba(8, 4, 71, 0.315);
	}

	#check:checked~.container-menu .menu__item {
		display: flex;
	}

	/* MENU HAMBURGUESA */


	.bar-btn {
		font-size: 25px;
		color: white;
		cursor: pointer;
	}



	/* formulario intercambio responsive */
	.formularioContacto__contenedor {
		width: 100%;
	}

	.formularioContacto {
		margin: 0;
		padding: 0;
		width: 100vw;
		background-color: rgb(255, 251, 251);
		margin-bottom: 60px;

	}

	/* formulario registro responsive */

	.formulario {

		margin: 0;
		margin-top: 100px;
		width: 100vw;
		border-radius: 2%;
	}


	.menu__logo {
		padding: 0;
		margin: 0;


	}



	ul {
		list-style-type: none;
	}
}

/* FIN RESPONSIVE */